*{
    background: #f0f2f5;
}
.navbar{
    background-color: white;
    width: 100%;
    height: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.left i{
    background: white;
}
.right{
    background-color: white;
}
.center i
{
    background-color: white;
}
.img{
    width: 30px;
    height: 30px;
    border-radius: 60%;
}
.boxes img{
    margin-left: 20%;
    margin-bottom: 10%;
}

input{
    width: 40%;
    height: 70px;
    border-radius: 40%;
}
.bottom{
    margin-left: 30%;
}